@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: 'RocknRoll One', sans-serif;
}

.navbar {
  background: white;
  padding: 1.5em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: rgb(39, 39, 252);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.hero {
  text-align: center;
  background: linear-gradient(45deg, #36c6eb, #4fe480);
}

#heroBackground {
  margin:0;
  left:0;
  margin-left:0;
  top:0;
  z-index:-999;
  position: absolute;
  width:99.74%;
  height:900px;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.hero-img {
  width: 400px;
  border: 3px solid black;
}

section.features-section {
  background: #2a2d30;
  color: white;
  text-align: center;
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: .25em;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#aboutMe {
  font-size: 2em;
  color: rgb(9, 239, 255);
  text-align: center;
}

#assignments{
  text-decoration: underline;
  margin-top:-1em;
  padding: .75em;
  font-size: 3em;
  text-align:center;
}

.projects {
  background: linear-gradient(45deg, #36c6eb, #4fe480);
  padding: 50px 0 50px 0;
}

.card-img-top {
  height: 175px;
}

#bottomCard {
  top: 10px;
}
.card-body {
  background-color: black;
  color: white;
}

.card {
  border: 5px solid white;
}

.leftCont{
  position:relative;
  margin-left: 15%;
}

.rightCont {
  position: relative;
  float: right;
  bottom: 550px;
  margin-right: 15%;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input, textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  background-color:rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  margin-bottom: 5em;
  border-radius: 1em;
  display: inline-block;
  padding: 1em 2em;
  width: unset;
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 30%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.contact-section {
  margin:0;
  padding:50px;
  width: 40%;
  height: 50px;
}

#contactLinks {
  transform: translate(50%);
  margin-top: 30%;
}

@media only screen and (min-width: 720px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 40%;
    margin-right: 4em;
  }
  ul.features-list {
    display: block;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  .features-section {
    position: relative;
  }
  .projects ul {
    display: flex;
  }
  .projects ul li {
    align-content:center;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: flex;
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
}